<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
     <% if(isLoggedIn()) { %>
        <p>logged in as <%= currentUser.email %></p>
        
        <form action="/sessions" method="post">
            <input type="hidden" name="_method" value="delete">
            <button>Log out</button>
        </form>
    <% } else { %>
        <p><a href="/login">Login</a></p>
    <% } %>


    <a href="/dishes/new">share a dish</a>
    <h1>goodfoodhunting</h1>

    <div class="dishes">
        <% for (let dish of dishes) { %>
            <div class="ui-card">
                <img src="<%= dish.image_url %>" alt="">
                <h2><a href="/dishes/<%= dish.id %>"><%= dish.title %></a></h2>
            </div>
            
        <% } %>
    </div>

</body>
</html>