* {
    box-sizing: border-box;
}

body {
    background-color: mistyrose;
}

/* img {
    width: 200px;
    aspect-ratio: 1/1;
} */

.main_wrapper {
    width: fit-content;
    margin: auto;
}

.dishes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.dishes h2 {
    margin: 10px;
}

.ui-card {
    background-color: gainsboro;
    width: 200px;
}

.ui-card img {
    width: 100%;
    aspect-ratio: 1/1;
}